@import "../../utils/varibles.css";

.released {
  color: var(--color-texto);
  font-size: var(--tamanio-texto);
  margin: 5px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.playtime {
  color: var(--color-texto);
  font-size: var(--tamanio-texto);
  margin: 5px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.esrb_rating {
  color: var(--color-texto);
  font-size: var(--tamanio-texto);
  margin: 5px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.rating_top {
  color: var(--color-texto);
  font-size: var(--tamanio-texto);
  margin: 5px 0px;
}

.nombre {
  color: var(--color-texto);
  font-size: var(--tamanio-nombre);
  margin: 5px 0px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

.game-card {
  width: 700px;
  height: 250px;
  display: flex;
  margin: 20px;
  flex-direction: row;
  border: 1px solid #ccc;
  background-color: #00000069;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(0, 0, 0);
  transition: transform 0.3s;
}

.game-card:hover {
  transform: scale(1.2);
}

.cerrar{
  position: relative;
  bottom: 275px;
  left: 338px;
  cursor: pointer;
}

.linko {
  text-decoration: none;
}

.contenedor-imagen{
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.game-details {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}

.game-image {
  width: 100%;
  height: 100%;
}
