@import "../../utils/varibles.css";

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 20px;
  color: white;
  z-index: 9900;
}

#logout{
  position: relative;
  left: 3px;
  top: 1px;
}

#home{
  position: relative;
  right: 1px;
  top: 1px;
}

#agregar{
  position: relative;
  top: 1px;
}

.botones {
  display: flex;
  gap: 20px;
  z-index: 120;
}

.botonHome {
  background-color: rgba(255, 0, 0, 0.35);
  color: rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 8px 16px;
  position: relative;
  right: 100px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  z-index: 1099;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.botonHome:hover{
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.5);
}

.botonAgregarJuego {
  background-color: rgba(255, 0, 0, 0.35);
  color: rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 8px 16px;
  position: relative;
  right: 110px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  z-index: 1099;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.botonAgregarJuego:hover{
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.5);
}

.botonSalir {
  background-color: rgba(255, 0, 0, 0.35);
  color: rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 8px 16px;
  position: relative;
  right: 100px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.botonSalir:hover{
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.5);
}
.botonBorrar {
  background-color: rgba(255, 0, 0, 0.35);
  color: rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 8px 16px;
  position: relative;
  right: 119px;

  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.botonBorrar:hover{
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.5);
}
#borrar{
  position: relative;
  top: 1px;
}

.gamescon {
  margin: 0;
  margin-left: 100px;
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.search-bar {
  flex: 1;
  margin: 0 auto;
}
